files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location / {
          root /var/app/current/dist;
          index index.html;
          try_files $uri /index.html;
      }

container_commands:
  01_restart_nginx:
    command: "service nginx restart"